
<% cookies[:last_viewed] = request.original_url %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/categories/new" class="btn btn-default btn-block">
      <i class="fa fa-plus">
      </i>
    </a>
    <hr>
    </div>
    </div>

<div class="row">
<h1>  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          All Categories
        </h3>
      </div>

    <ul class="list-group">

      <% @categories.each do |category| %>


      <li class="list-group-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></li>


      <% end %>
    </ul>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <hr>
  </div>
  </div>
